@import '../common.scss';

.#{$prefix}-dialog {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.#{$prefix}-dialog-main {
  padding-top: 10px;
  width: 77%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  transition: opacity $duration, transform $duration;
}

.#{$prefix}-dialog-title {
  font-weight: 500;
  padding: 0 12px 15px;
  line-height: 1.4;
  font-size: $fontSize + 2px;
  text-align: center;
  color: #000;
}

.#{$prefix}-dialog-content {
  text-align: center;
  padding: 0 12px 15px;
  font-size: $fontSize + 2;
  line-height: 1.4;
  color: #646566;
}

.#{$prefix}-dialog-btn {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  user-select: none;
  color: $primaryColor;
  background-color: transparent;
}

.#{$prefix}-dialog-btn:active {
  background-color: #e3e3e3;
}

.#{$prefix}-dialog-btns-double {
  position: relative;

  .#{$prefix}-dialog-btn {
    display: inline-block;
    width: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    border-left: 1px solid #ccb;
    transform: translateX(-50%) scaleX(.5);
  }
}

