@import '../common.scss';

.#{$prefix}-loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .777);
  transform: translate(-50%, -50%);
  border-radius: 6px;
  z-index: $zindexLoading;
}

.#{$prefix}-loading-spinner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, .93);
  border-left-color: transparent;
  transform: translate(-50%, -50%);
  animation: #{$prefix}-spinner .9s linear infinite;
}
